---
import '../styles/global.css';
import SEO from '../components/layout/SEO.astro';
import Header from '../components/layout/Header.astro';
import PostHog from '../components/analytics/PostHog.astro';
import { ClientRouter } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
  locale?: string;
}

const { 
  title = 'AsCloud', 
  description,
  locale = Astro.preferredLocale || 'es'
} = Astro.props;
const env = Astro.locals?.runtime?.env;
const POSTHOG_API_KEY = env?.POSTHOG_API_KEY || '';
const POSTHOG_HOST = env?.POSTHOG_HOST || '';
const LOGTO_ISSUER_ENDPOINT = env?.LOGTO_ISSUER_ENDPOINT || '';
const LOGTO_CLIENT_ID = env?.LOGTO_CLIENT_ID || '';
const LOGTO_RESOURCE_INDICATOR = env?.LOGTO_RESOURCE_INDICATOR || '';
---

<!doctype html>
<html lang={locale}>
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <!-- SEO -->
    <SEO 
      title={title} 
      description={description} 
      locale={locale} 
    />
    
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <PostHog />
    <script is:inline>
      (function(){
        (globalThis).POSTHOG_API_KEY = "{POSTHOG_API_KEY}";
        (globalThis).POSTHOG_HOST = "{POSTHOG_HOST}";
        (globalThis).LOGTO_ISSUER_ENDPOINT = "{LOGTO_ISSUER_ENDPOINT}";
        (globalThis).LOGTO_CLIENT_ID = "{LOGTO_CLIENT_ID}";
        (globalThis).LOGTO_RESOURCE_INDICATOR = "{LOGTO_RESOURCE_INDICATOR}";
      })();
    </script>
  </head>
  <body class="min-h-screen flex flex-col bg-gray-50 dark:bg-background">
     <Header locale={locale} />
    <main class="flex-grow max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <slot />
    </main>
      <!-- <Footer /> -->
    <script is:inline>
      document.addEventListener('astro:after-swap', () => {
        const theme = localStorage.getItem("theme");
        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        } else if (theme === "light") {
          document.documentElement.classList.remove("dark");
        }
      });
    </script>
  </body>
</html>
    
<style is:global>
  :root {
    --font-family-sans: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  }
  
  html {
    font-family: var(--font-family-sans);
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
</style>
